/*stylowanie home przed logowaniem */



/*tekst umiejscowiony w kontenerze górnym*/

.top_container_text{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25vw;
    margin-left: 4vw;
    padding-top: 8vh;
    opacity: 0.8;
    line-height: 0;
}

#basic_text{
    font: normal normal bold 48px/48px Sitka Display;
    color: #353781;
    line-height: inherit;
    opacity: inherit; 
}

#green_text{
    font: normal normal bold 38px/48px Nirmala UI;
    color: #43988D;
    line-height: inherit;
    opacity: inherit;
}




/* zawartość środka middle container */

.middle_container{
    display: grid;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    border-right: 2px solid #305F8E;
    border-left: 2px solid #305F8E;
    border-radius: 25px;
    height: 52vh;
}





/*zaproszenie do rejestracji*/
.signup{
    grid-column: 1/ span 1;
    grid-row: 1 / span 1;
    margin-top: 13vh;
    text-align: center;
    font: italic normal normal 44px/44px Sitka Display;
    color: #353781;
    width: 70%;
    height: 40%;  
    opacity: 0.9;
    padding-right: 10vh;
    border-right: solid grey 1px;
    
}

.signup p{
    margin:0;
    
}

#button_sign_up{
       width: 20vw;
       opacity: 0.7;
}




/*opis strony*/
.opis {
    grid-column: 2/span 1;
    font: normal normal normal 35px/55px Sitka Heading;
    color: #343461;
    line-height: 1vh;
    opacity: 0.9;   
}

#tytul{
    margin-top: 10vh;
    font: italic normal normal 60px/55px Sitka Display;
    line-height: 0;
    text-shadow: 1px 1px 10px #343461;
    opacity: 0.99;
    margin-bottom: 8vh;
}





/*zdjęcie po prawej stronie*/
.middle_container>img{
    grid-column: 3/span 1;
    display: block;
    height: 100%;

    opacity: 0.71;
    width: 99%;
    margin-right: 1%;


}




@media only screen and (max-device-width: 420px) {

    .top_container_text{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50vw;
        margin-left: 2vw;
        margin-top: 8vh;
        opacity: 1;
        line-height: 0;
    }


    .middle_container{
        display: grid;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        border: 0 solid #305F8E;
        border-radius: 0;

        height: 35vh;
    }


    /*zdjęcie po prawej stronie*/
    .middle_container>img{
        display:none;

    }




    /*zaproszenie do rejestracji*/
    .signup{
            margin-top: 5vh;

    }



    .signup p{
        margin:0;

    }

    #button_sign_up{
        margin-top: 2vh;
        width: 20vw;
        opacity: 0.7;
        border-radius: 3px;
    }


    /*opis strony*/
    .opis {
        grid-column: 2/span 2;
        font: normal normal normal 35px/45px Sitka Heading;
        color: #343461;
        line-height: 1vh;
        opacity: 0.9;
    }

    #tytul{
        margin-top: 5vh;
        font: italic normal normal 30px/45px Sitka Display;
        line-height: 0;
        text-shadow: 1px 1px 10px #343461;
        opacity: 0.99;
        margin-bottom: 5vh;
    }
}