

.top_container{
    display: flex;
    direct: row;
}


/* zakładki */
.beforelogin-container {

    display:flex;
    direct: column;
    justify-content: center;
   margin-top: 28.1vh;
    margin-left: 5vw;

    width: 30vw;
    z-index: 1;


}






/* formularz logowania */
.login_container{
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #305F8E;


    border-radius: 25px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    opacity: 1;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 46vh;

   
}






/*przyciski dla logowania*/

#button_register{
    background: #d5f2fc;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    text-align: center;
    font: normal normal normal 30px/53px Sitka Heading;
    color: #343461;
    width: 30%;

    border-left: 2px solid #305F8E;
    border-top: 2px solid #305F8E;
    border-bottom: 1px solid #305F8E;
    height: 5.9vh;
    margin:0;
    
}

#button_login{
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background: #FFFFFF 0% 0% no-repeat padding-box;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    text-align: center;
    font: normal normal normal 30px/53px Sitka Heading;
    color: #343461;
    width: 30%;
    border-right: 2px solid #305F8E;
    border-left: 2px solid #305F8E;
    border-top: 2px solid #305F8E;

    border-bottom: 2px solid white;

    height: 6vh;
    margin:0;
}



/*przyciski dla rejestracji*/

#button_register_two{

    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background: #FFFFFF 0% 0% no-repeat padding-box;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    text-align: center;
    font: normal normal normal 30px/53px Sitka Heading;
    color: #343461;
    width: 30%;

    border-right: 2px solid #305F8E;
    border-left: 2px solid #305F8E;
    border-top: 2px solid #305F8E;

    border-bottom: 2px solid white;

    height: 6vh;
    margin:0;
   
    
}

#button_login_two{
  
    background: #d5f2fc;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    text-align: center;
    font: normal normal normal 30px/53px Sitka Heading;
    color: #343461;
    width: 30%;

    border-right: 2px solid #305F8E;
    border-top: 2px solid #305F8E;
    border-bottom: 1px solid #305F8E;
    height: 5.9vh;
    margin:0;
   
}


a {
    text-decoration: none;
}



/* formularz */

form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 80%;
    text-align: left;
    font: normal normal normal 30px/53px Sitka Heading;
    letter-spacing: 0px;
    color: #343461;
    line-height: 20%;

}

#wybor {
    margin-bottom: 4%;
}


#jpudlo, #dpudlo, #tpudlo {
    display: flex;
    flex-direction: column;
}


input {
    background: #8FD7EE2E 0% 0% no-repeat padding-box;
    border: 1px solid #0F708F;
    border-radius: 38px;
    opacity: 1;
    width: 70%;
    height: 4vh;
    line-height: 5vh;
    font: normal normal normal 20px/53px Sitka Heading;
}


/* przycisk rejestracji lub logowania */
#log {

    margin-top: 2vh;
    font: normal normal bold 30px/56px Yu Gothic UI;
    width: 50%;
    text-align: center;
   
}


#pobierz{
    margin-top: 3vh;
}

.no-valid{

    border: 2px solid darkred;
    box-shadow: 0 0 0.2em red;
}





@media only screen and (max-device-width: 420px) {




    /* zakładki */
    .beforelogin-container {
        display: none;
    }





    /* formularz logowania */
    .login_container{

        position: absolute;
        left: 35vw;
        top:30vh;

        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #305F8E;
        border-radius: 10px;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        opacity: 1;
        margin-top: 2vh;
        margin-bottom: 2vh;
        height: 30vh;
        width: 55vw;

        z-index: 1;


    }




    /* formularz */

    form {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        margin-left: 5%;
        margin-bottom: 5%;
        width: 90%;
        text-align: left;
        font: normal normal normal 50px/53px Sitka Heading;
        letter-spacing: 0px;
        color: #343461;
        line-height: 20%;

    }

    #wybor {
        margin-top: 4vh;
    }


    #jpudlo, #dpudlo, #tpudlo {
        display: flex;
        flex-direction: column;
    }


    input {
        background: #8FD7EE2E 0% 0% no-repeat padding-box;
        border: 7px solid #0F708F;
        border-radius: 38px;
        opacity: 1;
        width: 90%;
        height: 4vh;
        line-height: 3;


    }


    /* przycisk rejestracji lub logowania */
    #log {

        margin-top: 2vh;
        font: normal normal bold 30px/56px Yu Gothic UI;
        width: 50%;
        text-align: center;

    }




}