
.middle_container_account{
    display: flex;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;

    flex-direction: column;
    text-align: center;
    /*justify-content:center; */
    align-items:center;

    border-right: 2px solid #305F8E;
    border-left: 2px solid #305F8E;
    border-radius: 25px;


    height: 69vh;
}

.tytul{
    font: normal normal bold 30px/56px Yu Gothic UI;
    color: #305F8E;
}

.info{

    border: 3px solid #305F8E;
    border-radius: 50px;
    width: 40%;
    
   

display: grid;
grid-template-columns: repeat(1, 1fr);
grid-template-rows: repeat(2, 1fr);

}

.pole{
    border: 2px solid #305F8E;
    border-radius: 20px;
    text-align: center;
    width: 50%;
    height: 4vh;
}


#wybor {

    font: normal normal bold 20px/46px Yu Gothic UI;
    color: #305F8E;
    height: 4vh;
}


#jpudlo, #dpudlo {
   
    display: flex;
    flex-direction: column;
    align-items:center;
}



#tpudlo {
  
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
}

button{
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-radius: 70px;
    margin-left: 10vw;
    margin-right: 10vw;
    font: normal normal bold 20px/46px Yu Gothic UI;

}



@media only screen and (max-device-width: 420px) {

    .bottom_container{
        width: 142vw;
    }

    .middle_container_account{
        margin-top: 10vh;
        width: 139vw;
    }

    .middle_container_out{
        height: 90vh;
    }
}

